.profile__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  gap: 9px 21px;
}

@media screen and (max-width: 900px) {
  .profile__info {
    margin-top: 26px;
    margin-left: 28px;
    gap: 8px 10px;
    max-width: 80%;
  }
}
