.card {
  background-color: #fff;
  border-radius: 10px;
  width: 282px;
  display: grid;
  grid-template-columns: auto 42px;
  grid-template-rows: 282px 79px;
  column-gap: 5px;
  align-items: center;
  position: relative;
}
